NoteBook Author : Ram ,
Email id : bsram1625@gmail.com

This notebook provides a comprehensive overview of essential Python concepts, enabling developers to build a solid foundation in programming

1. Identifiers
2. Datatypes , Data Structure.
3. Loops
4. Python operators
5. List Methods.
6. Type conversions
7. Shallow copy vs Deep Copy.
8. String formatting

#### IDENTIFIERS

* __Identifiers__ are user-defined variables,functions,class....these are generally used to assign the expression or values to the variables.
 * Rules of identifiers.
  1. Identifiers are case sensitive.
  2. Identifiers can be combination of lower[a-z], upper case[A-Z],     numbers[0-9]or underscoe'-'
  3. It sould not start with any special characters[!,#....]
  4. It should not start with digits.
  5. Keywords should not be identifiers

In [128]:
# Identifiers are case sensitive
variable=5
Variable=10

# Identifiers can be combination of lower[a-z], upper case[A-Z],numbers[0-9] or underscoe'-'
Varible="python"
VARIABLES='python'
variable_IDENTIFIERS='python'
varable_123='python'
VaRIABle='pyhton'

# It sould not should not contain or start with any special characters[!,#,@....]
# @variable='python'


# V@raible= 'python'

# It should not start with digits
# variable1= 'python'

#  Keywords should not be identifiers
# True ='python'

### __Data Types__
* Data types says which  kind of variable type , variable can store the value of data type and that are classified into:
1. Numeric type.
2. String type.
3. Boolean types.

1.__Numeric data type__
  * intergers (int)
    * Integers are the numbers which represents the positive or negative whole numbers
  * float (float)
    * float is the real number which represents with decimal numbers
  * complex
    * complex numbers are real and imginary numbers.

__Examples__

In [129]:



# Number data types
Number_integer=5
type(Number_integer)

Number_float=5.5
type(Number_float)

Number_complex=1+3j
type(Number_complex)

number="5"
type(number)



a=5
b=5
a==b

a=10
b=11
type(a==b)

bool

2. __String Data Type__
* string (str) is collection of one or more characters it can be represented in single or double or triple inverted quoted ' '," ",''' '''.

__Example__

string_single='python for Data scienc1'
string_double="python for Data science2"
string_triple='''Python for Data science3.'''

__Boolean Data Types__
* Booleans (bool) are the comparision data types .it compares the variable data types frequently used in conditional statemens.Booleans are two types that are "True" and "False"

In [130]:
string_single='python for Data scienc1'
string_double="python for Data science2"
string_triple='''
This is also caleed doc string. here you can write teh exaplantions or theories
'''

In [131]:
# Example of the doc string
def triangle_area(base, height):
    """
    Calculate the area of a triangle.

    Parameters:
    base (float): The length of the triangle's base.
    height (float): The height of the triangle, perpendicular to the base.

    Returns:
    float: The area of the triangle, calculated as (1/2) * base * height.

    Example:
    >>> triangle_area(6, 4)
    12.0
    """
    area = 0.5 * base * height
    return area

__Boolean Data Types__
* Booleans (bool) are the comparision data types .it compares the variable data types frequently used in conditional statemens.Booleans are two types that are "True" and "False"

In [132]:
a=5
b=5
a==b

True

In [133]:
a=10
b=11
type(a==b)

bool

### Data Structures
* Data structures are the collection of the data types which can store the data in the form of structure more precisely function and operations can be perform on the data.
  *  Lists.
  *  Tuples.
  *  Dictionaries

__Lists__
1. Lists are another kind of data types it stores the elements or items.
2. Lists are sequential and in order.
3. Lists are mutable.
4. list can be represents by square bracket. [ ]

In [134]:
# list can store numeric,boolean ,string data types
list_int=[1,2,3,5,6]
list_str=["python","java","C"]
list_bool=[True,False,True]

### Tuples
* Tuples are used to store the multiple elements
* Tuples are ordered.
* Tuples are immutable.
* it can be represented by round brackets ( )

In [135]:
tuple_int=(1,2,3)
tuple_str=("milk","curd","ghee")
tuple_bool=(True,False)

### Dictionaries.
* Dictionaries  are used to store the data typesin the form of pair(keys:values)
* Dictionaries are in order.
* Dictionaries are mutable.
* It can be representedd by flower brackets {}
* It can can store numeric,string ,bool data types.

In [136]:
# create dictionaries through manually
animals={"wild":["lion","tiger","wolf"],"domestic":["dog","cat","cow"],"forest":'amazon'}
print(animals)

{'wild': ['lion', 'tiger', 'wolf'], 'domestic': ['dog', 'cat', 'cow'], 'forest': 'amazon'}

#### Data types table

In [140]:
data_types_data = {
    'Number': ['int , float', '123 , 3.14', 'immutable'],
    "complex": ['complex', '3+4j', 'immutable'],
    "string": ['str', '"Hello"', 'immutable'],
    "bytes": ['bytes', 'b"example"', 'immutable'],
    "tuple": ['tuple', '(1, 2, 3)', 'immutable'],
    "frozenset": ['frozenset', 'frozenset({1, 2, 3})', 'immutable'],
    'boolean': ['bool', 'True , False', 'immutable'],
    "None Type": ['NoneType', 'None', 'immutable'],
    "list": ['list', '[1, 2, 3]', 'mutable'],
    'set': ['set', '{1, 2, 3}', 'mutable'],
    'dict': ['dict', '{"key": "value"}', 'mutable']
}

In [141]:
import pandas as pd

df = pd.DataFrame(data_types_data)
df

,Number,complex,string,bytes,tuple,frozenset,boolean,None Type,list,set,dict
0,"int , float",complex,str,bytes,tuple,frozenset,bool,NoneType,list,set,dict
1,"123 , 3.14",3+4j,"""Hello""","b""example""","(1, 2, 3)","frozenset({1, 2, 3})","True , False",None,"[1, 2, 3]","{1, 2, 3}","{""key"": ""value""}"
2,immutable,immutable,immutable,immutable,immutable,immutable,immutable,immutable,mutable,mutable,mutable

### Python Operators
* Operators are used to perform operations on the variables and it whole function is to compare the operands perfroms operations on it.Operators are classified into different types.
1. Arithmatic operators
2. Comparision operators.
3. Logical oprators
4. Identity operators.
5. Membership operators.
6. Assignment operators

1. __Arithmatic operators__

In [137]:
# addition operation. "+"
a=5
b=10
add=a+b
print(add)

# subtraction operation "-"
sub=a-b
print(a-b)

# Multiplication operation "*"
multipication=a*b
print(multipication)

# Division operation "/"
div=a/b
print(div)


# modulus operation "%"
modulus=a%b
print(modulus)


# Floor division "//"
floor=a//b
print(floor)


# Exponential operation "**"
pow=a**2+b**1
print(pow)

15
-5
50
0.5
5
0
35

In [1]:
a  = 10 
b = 20

In [2]:
a > b
# False

False

In [3]:
a  <  b
# True

True

In [5]:
a = 'sam'
b = 'sam'

a >= b

True

In [6]:
a <=b

True

In [7]:
a = 'sam'
b = 'Sam'

a == b

False

In [9]:
list_1 = [ 1 ,2 ,3] #3 items
list_2 = [2 ,3 ,4 ,5 ] # 4 items
len(list_1) < len(list_2)

True

In [ ]:
# arithmetic operators   + , - , * ,/ ,// ,%
# comparisional operators  > , < ,<= ,>= , ==
# Logical operators       and , or , not
# assignment operators    += , -= ,*= , /= 
# identity operators     is  ,is not
# membership operators   in , not in

In [12]:
a = 20
b = 25
c = 35 
d = 25

#logical operators AND

(a == b) & ( c > d) # and , &

False

In [14]:
(a == b) | ( c > d)  # or  , |

True

In [20]:
# not

not(a==b)   # not or !

True

In [22]:
a = 10
b = 11
a+=b

print('a:',a)
print('b:',b)

a: 21
b: 11

In [23]:
a = 10
b = 11
b+=a

print('a:',a)
print('b:',b)

a: 10
b: 21

In [24]:
a = 25 
b = 35 

a is b

False

In [25]:
a is not b

True

In [5]:
list_1 = [ 2 ,3 ,4 ,5 ]  #3 items
list_2 = [ 2 ,3 ,4 ,5 ] # 4 items

3 in list_2

True

In [27]:
list_1 = [ 1 ,2 ,3] #3 items
list_2 = [2 ,3 ,4 ,5 ] # 4 items

2 not in list_2

False

#### Type conversion

Discover how to convert between data types to ensure compatibility and accuracy in data manipulation and operations

In [ ]:
# type converstion

int_10 = 10
str_10 = '10'

print('----- before type converstion -----')
print('int 10:', type(int_10)   , int_10)
print('str_10',type(str_10) ,str_10)

print('----- after type converstion ------')

converted_string = str(int_10)
converted_int = int(str_10)

print('int 10:', type(converted_string)   , converted_string)
print('str_10',type(converted_int) ,converted_int)

In [ ]:
# syntax
# while (Condition):
    # while loop block

In [ ]:
import time

# start time
start_time = time.time()

# Do something that takes time
condition = True

while condition :
       time.sleep(5)
       end_time = time.time()
       # interval 5 seconds + 5 + 5 + 5 + 5 = 25 seconds
       # current time
       elapsed_time = end_time - start_time
       if elapsed_time > 25:
              condition = False
        
       print('for every 5 seconds print hello')

#### List Methods
Master a range of built-in methods for list manipulation, equipping you with the skills to manage collections of data dynamically and efficiently.

APPEND  : adding element to the list

In [3]:

append_list = [ 1 , 2, 3, "a"]
append_list.append( 'sam')
append_list

[1, 2, 3, 'a', 'sam']

In [6]:
append_list_2 = ["sam" , {"key": "value"}]
for ele in append_list_2:
    append_list.append(ele)
append_list

[1, 2, 3, 'a', 'sam', 'sam', {'key': 'value'}]

Extend : It will add an element to the list and merge it . Then the the original list will be extended

In [8]:
list_1 = ["sam" , {"key": "value"}]
list_2 = [ 1 , 2, 3, "a"] 

list_1.extend(list_2)
list_1

['sam', {'key': 'value'}, 1, 2, 3, 'a']

Insert : adding element at the position is called insert

In [13]:
insert_list = [ 1 , 2, 3, "a" ] 
insert_list.insert(2 , "sam" )

insert_list
# [1, 2, 'sam', 3, 'a']

for idx , ele in enumerate( insert_list ):
    print ( f'index : {idx} , element {ele}')

index : 0 , element 1
index : 1 , element 2
index : 2 , element sam
index : 3 , element 3
index : 4 , element a

Remove : Removes the elements from the list , if any duplicates in the list the first occurance of the element will be removed,

In [20]:
remove_list = [ 1 , 2, 3, "a" ,2 ]
 # element 
remove_list.remove("a")
remove_list
# [1, 3, 'a', 2]

[1, 2, 3, 2]

pop : pop is used to remove the lement from the list by using position or indexing .

In [23]:
pop_list = [ 1 , 2, 3, "a" ,2 ]
pop_list.pop(3)
pop_list

# CRUD : create , read , Update , Delete

[1, 2, 3, 2]

Indexing : Get an element index by using the element

In [19]:
index_list = [ 1 , 2, 3, "sam" ,2 ]
indexing_position = index_list.index("sam")
print(indexing_position)

index_list

3

[1, 2, 3, 'sam', 2]

COUNT : count returns the number of occurrebnces in the list elements

In [7]:
count_list = [1, 2, 3, 'sam', 2]
count_list.count('sam')
dict_ = { }

for ele in count_list:
    dict_[str(ele)] = count_list.count(ele)

dict_

{'1': 1, '2': 2, '3': 1, 'sam': 1}

SORT: This method sorts the elements of the list in ascending order by default. It can take an optional argument (reverse=True) to sort in descending order.

In [17]:
sort_list = [1,0, 2, 3, 3 ]
sort_list.sort()
sort_list

[0, 1, 2, 3, 3]

REVERSE:  This method reverses the order of elements in the list.

In [20]:
reverse_list = [1,0, 2, 3, 3 ,"sam" , 0.5]
reverse_list.reverse()
reverse_list

[0.5, 'sam', 3, 3, 2, 0, 1]

In [ ]:
uncleared_list = [ 1 , 2 , 3, 4]
uncleared_list.clear()
uncleared_list

#### Shallow copy vs Deep copy

Techniques for duplicating objects. Shallow copies reference original objects, while deep copies create new independent objects.
Understand the implications of copying data structures and memory management.

In [ ]:
import copy

original_obj = [ "sam1" , "ram 2" , "joe 3"]
print('orginal object',original_obj)


shallow_copy = copy.copy( original_obj)
print('copied object ', shallow_copy)

deep_copy = copy.deepcopy(original_obj)
original_obj[0] = 'x'

print('modification on orginal object' , original_obj)

print('copied object' , shallow_copy)
print('----shallow copy-----')
print(original_obj)
print(shallow_copy)

print('---- deep copy -----')
print(original_obj)
original_obj[2] =  'new element'
print(original_obj)

#### F-strings (Formatted String Literals):

Introduced in Python 3.6, f-strings allow for embedding expressions inside string literals, prefixed with an f or F. This makes the syntax cleaner and more readable.

In [ ]:
# 1. string interpolation

name  = 'ram'
work_as  =  'Software Engineer' 


sentence = f'my name is {name} working as {work_as}'
sentence

#### str.format() Method:

Introduced in Python 2.7, this method allows more flexibility than the old-style formatting. You can use curly braces {} as placeholders in the string, which are replaced by the arguments passed to the format() method.

In [ ]:
# string formating

name  = 'ram'
work_as  =  'Software Engineer' 
sentence =  'my name is {} working as {} ' .format( name , work_as)
print(sentence)

#### Old-style String Formatting (% Operator):


This method uses the % operator to format strings. It involves specifying placeholders within the string and providing the corresponding values as a tuple.

In [ ]:
# formatting  %

name  = 'ram'
work_as  =  'Software Engineer' 
sentence =  'my name is %s working as %s '%( work_as , work_as)

print(sentence)